* {

}.circle {
    padding: 12px 20px;
    border-radius: 30%;
    background-color: #ffc107;
    color: #000000;
    max-height: 50px;
    z-index: 2;
  }
  .connecting-lines.row .col-2 {
    align-self: stretch;
  }
  .connecting-lines.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #6f45a7;
    z-index: 1;
  }  
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #6f45a7;
    margin: 0;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #6f45a7;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 50%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
  