@media only screen and (max-width: 325px) {
  .navbar-brand img{
    height: 60px !important;
  }
    
    .container-fluid{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
    .ccbcSlider {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
}

@media only screen and (max-width: 325px) {
}


